.dashboard {
  .dashboard-info {
    display: flex;
    flex-direction: column;
    align-items: center;
    h1 {
      font-size: 1.1rem;
    }
    .dashboard-sub-info {
      display: flex;
      flex-direction: row;
      p {
        margin-left: 58px;
      }
      h1 {
      }
      button {
        position: relative;
        left: 100px;
      }
    }
  }
}


// chart style section
.chart-styles{
    display: flex;
    justify-content: space-around;
    align-items: center;
    ul{
        li{
            font-size: 2rem  ;
        }
    }
}


// stats box section
.stats-box{
    display: grid;
    grid-template-columns: repeat(2, 1fr);
    row-gap: 5rem;
    // justify-content: space-around;
    // align-items: center;
    div{
        height: 15rem;
        width: 17rem;
        border-radius: 10px;
        border: 1px solid rgb(82, 75, 75);
    }
}
