.user-account {
    margin-top:10rem;
  .user-image {
    background-image: url("../shared/images/me.jpg");
    background-position: center;
    background-repeat: no-repeat;
    background-size: cover;
    height: 20rem;
    width: 20rem;
    border-radius: 50%;
    border:5px solid #1277E1;
  }
//   .apple-pay{
//     background-image: url("../shared/images/pay.png");
//     height:20rem;
//     width:20rem;
//     // background-image: c;
//   }
}
